MenuService/MenuServiceSOAP/TestServiceWCF/Connected Services/PlatosServ/Platos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6018/Platos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Platos.Dominio" />
  <xs:element name="RegistrarPlato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Platos.Dominio" minOccurs="0" name="platoCrear" nillable="true" type="q1:Plato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPlatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Platos.Dominio" minOccurs="0" name="RegistrarPlatoResult" nillable="true" type="q2:Plato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPlato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Platos.Dominio" minOccurs="0" name="platoCrear" nillable="true" type="q3:Plato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPlatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Platos.Dominio" minOccurs="0" name="ModificarPlatoResult" nillable="true" type="q4:Plato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPlato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="platoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPlatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlatobyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="platoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlatobyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Platos.Dominio" minOccurs="0" name="ObtenerPlatobyIDResult" nillable="true" type="q5:Plato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlatobyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="platoName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlatobyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Platos.Dominio" minOccurs="0" name="ObtenerPlatobyNameResult" nillable="true" type="q6:Plato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlatos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Platos.Dominio" minOccurs="0" name="ObtenerPlatosResult" nillable="true" type="q7:ArrayOfPlato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>